.news-kompas { 
	text-transform: uppercase;
	font-weight: bold;
	color: #e8541f;
 }

 .news-tribun { 
	text-transform: uppercase;
	font-weight: bold;
	color: #2d6da4;
 }

.text-fit{
  margin-top: auto;
  margin-bottom: auto;
}
.text-fit p{ 
 
  font-size: 10px;
 }

.div-gambar-utama{
	left: 15px;
	position: relative;
}

.w-5{
	display: none;
}
.div-gambar{
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	margin-bottom: auto;
	position: relative;
}

.news-title a {
	text-decoration: none;
	font-weight: bold;
	color: black;
}
.news-title a:hover{
	text-decoration: none;
	font-weight: bold;
	color: #0275d8;
}

.search_bar input[type="text"] {
    position:absolute;
    left:0%;
    bottom:0%;
    background-color:white;
    color:grey;
}

#searchbar{
	 height: 5%;
	 width: 80%;
     margin-left: 1%;
     padding:15px;
     border-radius: 10px;
   }
 
 input[type=text] {
     -webkit-transition: width 0.15s ease-in-out;
     transition: width 0.15s ease-in-out;
 }
.carousel-control-next,
.carousel-control-prev /*, .carousel-indicators */ {
    filter: invert(100%);
}

/* rows */
div.dropdown-multicol{
  width: 25em;
}
div.dropdown-row>a.dropdown-item{
  display:inline-block;
  width: 32%;
}
    
#area{
 border-radius: 5px 5px 5px 5px;
 height:38px;   
}
#sorting{
 border-radius: 5px 5px 5px 5px;
 height:38px;   
}
#submitbutton {
	position: relative;
	top: 0px; 
	padding: 5px;
	width: 100px;
    height: 30px;
    background-color: #9933FF;
    border: none;
  	color: white;
}
.riwayat-berita {
  left:10px;

  position: relative
}

.pagination {
  justify-content: center;
  display: inline-block;
  position: relative
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
  border: 1px solid #ddd;
}
.capitalize { text-transform: capitalize; }

.pagination a.active {
  background-color: #0275d8;
  color: white;
  border: 1px solid #0275d8;
}

.pagination a:hover:not(.active) {background-color: #ddd;}

a.custom-card,
a.custom-card:hover {
  color: inherit;
}

.border-left-info{border-left:.40rem solid #36b9cc!important}.border-bottom-info{border-bottom:.40rem solid #36b9cc!important}.border-left-warning{border-left:.40rem solid #f6c23e!important}.border-bottom-warning{border-bottom:.40rem solid #f6c23e!important}.border-left-danger{border-left:.40rem solid #e74a3b!important}.border-bottom-danger{border-bottom:.40rem solid #e74a3b!important}.border-left-light{border-left:.40rem solid #f8f9fc!important}.border-bottom-light{border-bottom:.40rem solid #f8f9fc!important}.border-left-dark{border-left:.40rem solid #5a5c69!important}.border-bottom-dark{border-bottom:.40rem solid #5a5c69!important}
.border-left-success{border-left:.40rem solid #1cc88a!important}.border-bottom-success{border-bottom:.40rem solid #1cc88a!important}.border-left-info{border-left:.40rem solid #36b9cc!important}.border-bottom-info{border-bottom:.40rem solid #36b9cc!important}.border-left-warning{border-left:.40rem solid #f6c23e!important}.border-bottom-warning{border-bottom:.40rem solid #f6c23e!important}.border-left-danger{border-left:.40rem solid #e74a3b!important}.border-bottom-danger{border-bottom:.40rem solid #e74a3b!important}.border-left-light{border-left:.40rem solid #f8f9fc!important}.border-bottom-light{border-bottom:.40rem solid #f8f9fc!important}.border-left-dark{border-left:.40rem solid #5a5c69!important}.border-bottom-dark{border-bottom:.40rem solid #5a5c69!important}
.border-right-info{border-right:.40rem solid #36b9cc!important}.border-bottom-info{border-bottom:.40rem solid #36b9cc!important}.border-right-warning{border-right:.40rem solid #f6c23e!important}.border-bottom-warning{border-bottom:.40rem solid #f6c23e!important}.border-right-danger{border-right:.40rem solid #e74a3b!important}.border-bottom-danger{border-bottom:.40rem solid #e74a3b!important}.border-right-light{border-right:.40rem solid #f8f9fc!important}.border-bottom-light{border-bottom:.40rem solid #f8f9fc!important}.border-right-dark{border-right:.40rem solid #5a5c69!important}.border-bottom-dark{border-bottom:.40rem solid #5a5c69!important}
.border-right-success{border-right:.40rem solid #1cc88a!important}.border-bottom-success{border-bottom:.40rem solid #1cc88a!important}.border-right-info{border-right:.40rem solid #36b9cc!important}.border-bottom-info{border-bottom:.40rem solid #36b9cc!important}.border-right-warning{border-right:.40rem solid #f6c23e!important}.border-bottom-warning{border-bottom:.40rem solid #f6c23e!important}.border-right-danger{border-right:.40rem solid #e74a3b!important}.border-bottom-danger{border-bottom:.40rem solid #e74a3b!important}.border-right-light{border-right:.40rem solid #f8f9fc!important}.border-bottom-light{border-bottom:.40rem solid #f8f9fc!important}.border-right-dark{border-right:.40rem solid #5a5c69!important}.border-bottom-dark{border-bottom:.40rem solid #5a5c69!important}

.img-center{
display: block;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
}

.card-blue{
  background-color: #1d8cf8 !important;
  border-radius: 25px;
}

.text-white{
  color: white !important;
}
.pic {
  margin: 10px;/* demo spacing */
  display: inline-block;
  vertical-align: middle;
  width: 0; 
  height: 0; 
}
.arrow-up {
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #737373;
}
.arrow-down {
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #737373;
}
.mycontent-bottom{
  border-bottom: 1px solid #333;
}


#carouselExampleIndicators .carousel-indicators li.active{
  background-color: #1d8cf8;
}
#carouselExampleIndicators .carousel-indicators li{
  background-color: #808080;
  bottom: -20px;
}