.news-kompas { 
	text-transform: uppercase;
	font-weight: bold;
	color: #e8541f;
 }

 .news-tribun { 
	text-transform: uppercase;
	font-weight: bold;
	color: #2d6da4;
 }

.div-gambar{
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	margin-bottom: auto;
	position: relative;
}

.news-title a{
	text-decoration: none;
	color: black;
}
.news-title a:hover{
	text-decoration: none;
	font-weight: bold;
	color: black;
}

